.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    border: 2px solid rgba(0, 0, 0, 0);
    flex: 1;
}

.lastCard {
    border-color: #44ff44;
}

.rank {
    text-align: center;
    height: 50px;
    font-size: 40px;
}

.cardCounter {
    display: flex;
    height: 20px;
}

.counterLightDark {
    flex: 1;
    background: #777777;
    margin: 1px;
}

.counterLightLit {
    flex: 1;
    background: #44ff44;
    margin: 1px;
}
